@media(max-width:414px){
    body{
        background-color: #FB6B6B;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .root{
       width:100%;
       height:100vh;
    }
    .PG1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .PG1 > img{
        width:175px;
        height:175px;
        margin-bottom:20px;
    }
    .PG1 > h1{
        font-size: 55px;
        color: white;
        font-weight: 700;
        margin-bottom:20px;
    }
    .start{
        font-size: 20px;
        color:#ff5959 ;
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 10px;
        border: #ff5959 1px solid;
    }

    /*PAGINA 2 */
    .topo{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 40px;
        font-weight: 700;
    }
    .PG2 > img{
        width:60px;
        height:60px;
    }   


    .question{
        background-color: white;
        height: 70px;
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;
        border: lightgray solid 2px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.349);
    }
    .questions{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        

    }
    .question2{
        background-color: #FFFFD4;
        height: 140px;
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;
        border: lightgray solid 2px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.349);
    }
    .question3{
        background-color: #FFFFD4;
        height: 175px;
        width: 350px;
        font-size: 25px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;
        border: lightgray solid 2px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.349);
    }
    .opcoes{
        display: flex;
        font-size:15px ;
        justify-content: space-between;
        margin-top:10% ;
    }
    .Nao,.Quase,.Zap{
        border-radius: 5px;
        height: 30px;
        display: flex;
        align-items: center;
        color:white;
        padding: 1px;
    }
    
    .Nao{
        background-color: red;
    }
    .Quase{
        background-color: #FE922F;
    }
    .Zap{
        background-color: rgb(3, 221, 3);
    }
    .respondido{
        background-color: white;
        height: 70px;
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;
        border: lightgray solid 2px;
        text-decoration: line-through;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.349);
    }



}